<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-abdias"
    version="1.0.0">

    <name>Abdias</name>
	<description>Plugin to add implementations in android build.gradle</description>
    <author>Abdias N Vrech</author>

    <js-module name="Abdias" src="www/Abdias.js">
        <clobbers target="cordova.plugins.Abdias" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <license>MIT</license>
    <keywords>cordova,phonegap,purchase,purchases,storekit,billing,ios,android,play</keywords>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="com.android.vending.BILLING" />
        </config-file>
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Abdias">
                <param name="android-package" value="com.vrech.plugins.Abdias" />
            </feature>
        </config-file>

        <source-file src="src/android/Abdias.java" target-dir="src/com/vrech/plugins/Abdias" />

        <!-- To ensure we're using the latest version, see here:
        https://developer.android.com/google/play/billing/billing_library_releases_notes -->
        <framework src="com.android.billingclient:billing:3.0.3" />
    </platform>

    <!-- ios -->
    <platform name="ios">

    </platform>

    <!-- osx -->
    <platform name="osx">

    </platform>

    <!-- windows -->
	<platform name="windows">
    
	</platform>
<!--
vim: ts=4:sw=4:et
-->
</plugin>
